{% apply inline_css(source('@styles/email.css')) %}
<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{{ email.subject }}</title>
	</head>
	<body>
		<div class="body">
			<div class="container">
				<div class="header text-center">
					<a href="{{ url('app_homepage') }}">
						<img src="{{ email.image('@images/email/logo.png') }}" class="logo" alt="SpaceBar Logo">
					</a>
				</div>
				<div class="content">
					<h1 class="text-center">Nice to meet you
						{{ email.toName }}!</h1>
					<p class="block">
						Welcome to
						<strong>the Space Bar</strong>, we can't wait to read what you have to write.
							                Get started on your first article and connect with the space bar community.
					</p>
					<p class="block text-center">
						<a href="{{ url('admin_article_new') }}" class="btn">Get writing!</a>
					</p>
					<p class="block">
						Check out our existing articles and share your thoughts in the comments!
					</p>
					<p class="block text-center">
						<a href="{{ url('app_homepage') }}" class="btn">Get reading!</a>
					</p>
					<p class="block">
						We're so excited that you've decided to join us in our corner of the universe,
						                it's a friendly one with other creative and insightful writers just like you!
						                Need help from a friend? We're always just a message away.
					</p>
				</div>
				<div class="footer">
					<p class="block">
						Cheers,<br><br>
						Your friendly
						<em>Space Bar Team</em>
					</p>
					<p class="block bottom text-center">
						Sent with ❤️ from the friendly folks at The Space Bar
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
{% endapply %}
